@import "../../base";



/* =============== INHOUDSOPGAVE =============== */
    /* ----- BIG NEWS ----- */
    /* ----- SHORTS ----- */
    /* ----- NEW OVERVIEW ----- */

/* =============== END INHOUDSOPGAVE =============== */



/* ----- BIG NEWS ----- */
    .big-news-container{
        display:flex;
        gap:0;
        article.big-news-article{
            position:relative;
            display:block;
            flex:0 1 25%;
            a{
                position:relative;
                figure{
                    background-color:$quaternary_color;
                    position:relative;
                    padding-top:150%;
                    overflow:hidden;
                    img{
                        position:absolute;
                        object-fit:cover;
                        display:block;
                        opacity:0.69;
                        height:100%;
                        width:100%;
                        bottom:0;
                        right:0;
                        left:0;
                        top:0;
                    }
                }
                figcaption{
                    text-transform:uppercase;
                    letter-spacing:-0.5px;
                    position:absolute;
                    text-align:center;
                    padding-bottom:3.25rem;
                    color:#fff;
                    margin:auto;
                    bottom:35%;
                    width:85%;
                    right:0;
                    left:0;
                    b{
                        font-size:1.5625rem;
                    }
                    span{
                        background-color:$quaternary_color;
                        position:absolute;
                        font-size:0.9rem;
                        max-width:100px;
                        padding:5px 0;
                        display:block;
                        margin:auto;
                        bottom:0;
                        right:0;
                        left:0;
                    }
                }
            }
            &:hover{
                figure{
                    img{
                        opacity:1;
                    }
                }
                figcaption{
                    opacity:0;
                }
            }
        }
    }
/* ----- END BIG NEWS ----- */



/* ----- SHORTS ----- */
    .shorts-container{
        margin-top:1.875rem;
        gap:2.14285714286%;
        display:flex;

        article.short-article{
            flex:0 1 23.3928571429%;
            a{
                text-decoration:none;
                color:#fff;
                figure{
                    background-color:$quaternary_color;
                    margin-bottom:0.925rem;
                    padding-top:56.25%;
                    position:relative;
                    overflow:hidden;
                    img{
                        position:absolute;
                        object-fit:cover;
                        display:block;
                        height:100%;
                        width:100%;
                        bottom:0;
                        right:0;
                        left:0;
                        top:0;
                    }
                }
                figcaption{
                    b{
                        margin-bottom:0.325rem;
                        letter-spacing:-0.5px;
                        font-weight:700;
                        font-size:1.25rem;
                        display:block;
                    }
                    p{
                        letter-spacing:-0.5px;

                    }
                }
            }
        }
    }
/* ----- END SHORTS ----- */



/* ----- NEW OVERVIEW ----- */
    .news-overview{
        border-bottom:1px solid #fff;
        position:relative;
        display:block;
        article.news-article{
            border-top:1px solid #fff;
            position:relative;
            padding:1rem 0;
            a{
                text-decoration:none;
                gap:2.85714285714%;
                display:flex;
                color:#fff;
                figure{
                    position:relative;
                    border-radius:5px;
                    overflow:hidden;
                    width:36%;
                    img{
                            // position:absolute;
                            object-fit:cover;
                            display:block;
                            height:100%;
                            width:100%;
                            bottom:0;
                            right:0;
                            left:0;
                            top:0;
                    }
                }
                figcaption{
                    margin:auto;
                    width:100%;
                    b{
                        text-transform:uppercase;
                        letter-spacing:-0.5px;
                        font-size:1.25rem;
                        font-weight:600;
                        display:block;
                    }
                    p{
                        letter-spacing:0.5px;
                        margin-top:0.625rem;
                        font-weight:300;
                        display:block;
                    }
                }
            }
            &:hover{
                figure img{
                    transform:scale(1.1);
                }
                figcaption b{
                    text-decoration:underline;
                }
            }
        }
    }
/* ----- END NEW OVERVIEW ----- */

